<h1>product List!</h1>
<form>
    <div class="form-group">
        <label >Search:</label>
        <input type="number" name ="price" class="form-control" [(ngModel)]="priceMax">
    </div>
</form>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Title 
        </th>
        <th>
            Price 
        </th>
        <th>
            Quantity 
        </th>
        <th>
            Like 
        </th>
 
    </tr>
    <tbody *ngFor ="let product of productList ; let i= index">
   <tr *ngIf="product.price<priceMax || priceMax==null " >
       <td>{{product.id}}</td>
       <td>{{product.title}}</td>
       <td>{{product.price}}</td>
       <td>{{product.quantity}}</td>
       <td>{{product.like}}</td>
       <td>
           <button type="button" class="btn btn-warning" (click)="likeProduct(i)">
           Like 
        </button>
        </td>
       <td>
           <button type="button" class="btn btn-success"[disabled]="product.quantity==0" (click)="buyProduct(i)">
               Buy
            </button>
        </td>
      
   </tr>
</tbody>
</table>
